<footer id="myFooter">
    <div class="social-networks">
        <a href="https://twitter.com/UoMFIT16" target="_blank" class="icon-button twitter"><i
                class="icon-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/groups/173190899787687/?ref=bookmarks" target="_blank" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="mailto:fitbatch16@gmail.com" target="_blank" class="icon-button envelope-alt"><i
                class="icon-envelope-alt"></i><span></span></a>
    </div>
    <div class="footer-copyright">
        <p>© 2018 FIT Batch-16. All rights reserved. </p>
    </div>
</footer>