body{
	text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  
}

#clockdiv{
	font-family: sans-serif;
	display: inline-block;
	font-weight: 100;
	text-align: center;
    font-size: 20px;
    margin: 10px;
}

#clockdiv > div{
	padding: 8px;
	border-radius: 3px;
	background: #ebebe0;
	display: inline-block;
}

#clockdiv div > span{
	padding: 12px;
	border-radius: 3px;
	background: #d6d6c2;
	display: inline-block;
}

.smalltext{
	padding-top: 3px;
    font-size: 12px;
    color: 	#006080;
}