nav{
    font-size: 15px;
}
.header.container.active:hover{
    color: white;
}
footer{
    background: #222;
    color: white;
    /* text-align: center; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #407690;
    color: white;
    padding: 10px;
    font-size: 10px;
    font-family: Georgia, Times, serif;
    /* padding-top:32px; */
}
.socialMedia{
    margin-top: 5px;
    padding: 0;
}
footer a{
    color: #ccc;
}
footer a:hover{
    color: #fff;
    text-decoration: none;
}

/* footer .footer-social {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
} */
.copyright{
    font-size: 15px;
}

/* footer icons */


footer nav ul{
    text-align: right;
    margin-right:100px; 
    list-style: none;
    padding: 0;
    
}
footer nav ul li{
    color: #ccc;
    display: inline-block;
    padding-left: 15px;
    text-decoration: none;
}



Footer li{
    display: inline-block;
    margin: 0px 5px;
    line-height: 2;
}

Footer .footer-social{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #888;
}

Footer .fa{
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
    text-align: center;
    line-height: 10px;
    text-decoration: none;
    transition:color 0.2s;
}

Footer .fa-facebook:hover{
   color: #03114b;
}

Footer .fa-facebook:focus{
    color: #03114b; 
}

Footer .fa-envelope:hover{
    color: #f13a4f;
}

Footer .fa-envelope:focus{
    color: #f13a4f;
}

Footer .fa-twitter:hover{
    color: #00aced;

}

Footer .fa-twitter:focus{
    color:#00aced;
}

@media only screen and (max-width : 800px){
    nav{
        text-align: center;
        padding-top: 5px;
        padding-right: 20%;
    }
    .header.container ul{
        text-align: left;
        float: left;
    }
}