{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Home{% endblock %}
{% block extra_header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block extra_styles %}
    .header{
                opacity: 0.5;
            }
    .slide{
        float:right;
    }
    .alert{
        margin-bottom: 0; 
    }
{% endblock %}
{% block content %}
          <div class = "header container">
            <nav class="navbar navbar-light bg-faded">
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="active">
                            <button class="btn btn-outline-success slide"><a class="nav-link" href="{% url 'logout' %}">logout</a></button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <br />
        <div class="container">
            <div>
                <div class = "alert alert-success" role = "alert" style="display:none;"><p id="displaySu"></p></div>
                <div class = "alert alert-danger" role = "alert" style="display:none;"><p id="displayEr"></p></div>
            </div>
            <div >
                <form class="form-group">
                    <table class = "table table-bordered">
                            <thead>
                                    <tr>
                                      <th style="display:none;">#</th>
                                      <th>Company</th>
                                      <th>Project</th>
                                      <th>Description</th>
                                        <th>Time</th>
                                      <th>Enroll</th>

                                    </tr>
                            </thead>
                            <tbody>
                            {% for draw in upcoming_draws %}
                                <tr>
                                    <td style="display:none;"><p class = "getId">{{draw.id}}</p></td>
                                    <th scope="row">{{draw.project.company}}</th>
                                    <td>{{draw.project.title}}</td>
                                    <td>{{draw.project.description}}</td>
                                    <td>{{draw.scheduled_time}}</td><td>
                                               {% if leader in draw.enrollments.all %}
                                    <p id="btp"><button id ="bt" class = "btn btn-outline-success bt">Unenroll</button></p>
                                        {% else %}
                                        <p id="btp"><button id="bt" class = "btn btn-outline-success bt">Enroll</button></p>
                                {% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </form>
            </div>
        </div>
{% endblock %}
{% block extra_footer %}
     <script
            src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous">
        </script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous">
        </script>
{% endblock %}